# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.ipr
*.iws
out/

# ===============================
# Gradle
# ===============================
.gradle/
build/

# ===============================
# Kotlin
# ===============================
*.class
*.log

# ===============================
# JVM / OS
# ===============================
hs_err_pid*
replay_pid*

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Windows
# ===============================
Thumbs.db
desktop.ini

# ===============================
# VS Code (optional)
# ===============================
.vscode/